<div class="loading" *ngIf="!posts">
	cargando...
</div>

<div class="row container-fluid mt-3" *ngIf="posts">
  <div class="col-sm-6" *ngFor="let post of posts">
    <div class="card" style="width: 28rem;">
      <div class="card-body">
        <h5 class="card-title"><a [routerLink]="['/entrada',post.id]">{{post.title}}</a></h5>
        <img src="{{url+'post/image/'+post.image}}" class="card-img-top post-image" *ngIf="post.image" />
        <img src="assets/images/default.jpg" class="card-img-top post-image" *ngIf="!post.image" />

        <div class="post-buttons mt-3">
	        <a href="#" class="btn btn-primary ml-5" [routerLink]="['/entrada',post.id]">Leer</a>
	        <span *ngIf="identity && identity.sub == post.user_id">
		        <a href="#" class="btn btn-warning ms-2" [routerLink]="['/editar-entrada',post.id]">Editar</a>
		        

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+post.id">
						  Borrar
						</button>

						<!-- Modal -->
						<div class="modal fade" id="{{'exampleModal'+post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h1 class="modal-title fs-5" id="exampleModalLabel"> ¿seguro desea eliminar entrada? </h1>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body">
						       {{post.title}}
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						       <a (click)="deletePost(post.id)" class="btn btn-danger mr-2" data-bs-dismiss="modal">Borrar</a>
						      </div>
						    </div>
						  </div>
						</div>
						
		        </span>
        </div>
      </div>
    </div>
  </div>

</div>


